// 开发设计规范
//color
$main-color-red: #e54d42;
$main-color-black: #1D1D1D;//字体颜色
$main-color-gray: #777777;//灰色字体颜色
$main-color-origin: #F37B1D;//警示文字
$main-background-color: #f9f9f9;//背景色
$main-border-color: #F1F1F1;//边框，分割线




























//font
//.text-red {
//  color: $main-color-red;
//}
//.text-black{
//  color: $main-color-black;
//}
//.text-origin {
//  color: $main-color-origin;
//}
//
////background
//.bg-default {
//  background: $main-color-background;
//}
//.bg-red {
//  background: $main-color-red;
//}
//.bg-origin{
//  background: $main-color-origin;
//}
//
////border
//.border-default {
//  border: solid 1px $main-color-border;
//}
//
//.border-default-tb {
//  border-top: solid 1px $main-color-border;
//  border-bottom: solid 1px $main-color-border;
//}
//
//.border-default-lr {
//  border-left: solid 1px $main-color-border;
//  border-right: solid 1px $main-color-border;
//}
//
//.border-default-top {
//  border-top: solid 1px $main-color-border;
//}
//
//.border-default-left {
//  border-left: solid 1px $main-color-border;
//}
//
//.border-default-right {
//  border-right: solid 1px $main-color-border;
//}
//
//.border-default-bottom {
//  border-bottom: solid 1px $main-color-border;
//}
//
